@import url("https://fonts.googleapis.com/css?family=Roboto");

//dark theme
body {
  color: white;
  background-color: #323232;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-info {
  position: fixed;
  right: 0px;
  top: 0px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  padding: 5px;
}

.update-info {
  opacity: 0.2;
}

.version {
  opacity: 0.2;
}

.workers {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;

  height: 90vh;
}
